.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}
.social-link {
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: 1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%
}

.social-link :hover {
    background-color: 155d74;
    text-decoration: none;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
}

.list-inline{
    display: block;
    text-align: center;
    margin-top: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-bottom: 3rem;
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
    margin-right: 0.5rem;
    text-align: match-parent
}

.author {
    color: #6c757d;
    margin-bottom: 0;
    font-size: 0.875em;
    margin-top: 0
}