.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url("../assets/hero-banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.masthead h1,
.masthead .h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 5.5rem;
  }
}
